@model IEnumerable<BangazonWebsite.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h2>My Shopping Cart</h2>

<h4>Order</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Order Id
            </th>

        </tr>
    </thead>
    <tbody>
        @*Loop through OrderProduct ICollection*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderProduct)
                </td>
                <td>
                 
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> 
          
                </td>
            </tr>
        }
    </tbody>
</table>

