@model IEnumerable<BangazonWebsite.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h2>My Shopping Cart</h2>

<h4>Order</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
    <tbody>
        @*Loop through OrderProduct ICollection*@

        @foreach (var order in Model)
        {
            <tr>
                <td>
                    <p>@order.PaymentType</p>
                </td>
            </tr>
        }
    </tbody>
</table>

