@model  BangazonWebsite.Models.ViewModels.ProductTypeIndexViewModel
@{
    ViewData["Title"] = "Product Type Listing";
}

<h2>@ViewData["Title"]</h2>

@foreach (var types in Model.TypesList)
{

    <div class="row top-buffer">
        <div class="col-md-8">@types.TypeName</div>
        <div class="col-md-2">@types.ProductCount</div>
        <div class="col-md-2">
        </div> 
    </div>
}
