@model IEnumerable<BangazonWebsite.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.ProductTypeId">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
